@import "app/assets/sass/common/mixins/sidebar";
@import "app/assets/sass/common/mixins/colors";

aside.project-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 13em;
  height: 64px;
  background-color: #1b232a;
  padding-top: 1em;
  text-align: center;
  color: white;
  font-size: 1.3em;
}
