<header class="home">
  <div class="container">
    <div class="row">
      <ul class="list-inline text-right">
        <li>
          v{{ HomeCtrl.appVersion }}
        </li>
        <li ng-click="HomeCtrl.openUrl('http://ryanduncan.me')">
          <i class="fa fa-envelope cur-pointer"></i>
        </li>
        <li ng-click="HomeCtrl.openUrl('https://wantoo.io/blockr/')">
          <i class="fa fa-comments cur-pointer"></i>
        </li>
        <li ng-click="HomeCtrl.openUrl('https://trello.com/b/r9p6H8xD/blockr')">
          <i class="fa fa-trello cur-pointer"></i>
        </li>
      </ul>
    </div>
  </div>
</header>
