// --------------------------------------------------
// Card styles
// --------------------------------------------------

@import "app/assets/sass/common/mixins/colors";

.card {
  background-color: transparent;
  padding: 3em 4em;
  box-shadow: 0 1px 1.5px rgba(35, 45, 50, .15);
  overflow: hidden;
  border-radius: 3px;
  border: 1px solid $base-border-color;

  &.card-small {
    padding: 2em;

    .card-body {
      h1 {
        margin-bottom: .8em !important;
      }

      p {
        margin-bottom: 0;
      }
    }
  }

  .card-title {
    font-weight: 700;
  }

  .card-body {
    h1 {
      color: lighten(white, 15%);
      font-size: 1.2em;
    }

    i {
      color: white;
      font-size: 1.8em;
      margin-bottom: 1em;
    }
  }

  &:hover, &:active {
    background-color: $bg-color-light;
  }
}
